<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Example spring mvc project</title>

    <script type="text/javascript" src="../static/jquery3-5-1.min.js"> </script>
    <script type="text/javascript" src="../static/bootstrap.min.js"> </script>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
</head>
<body>
<div class="container">
<!--    <div class="card bg-light mb-3">-->
        <p th:text="${timestamp}">
<!--    </div>-->
</div>
</body>
</html>